#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://nguyenphuphong.github.io/hanyu-jiaocheng-assets/img/loader.gif) 50% 50% no-repeat #fbfbf8;
}

#nav {
    float: left;
    width: 100%;
}

#nav #nav-header {
	font-size: 40px;
    height: 60px;
    text-align: center;
    font-weight: bold;
}

#nav #nav-header #nav-left {
	float: left;
	width: 200px;
}

#nav #nav-header #nav-left > a {
    text-decoration: none;
    color: black;
}

#nav #nav-header #nav-right {
	float: right;
	width: 80px;
	border-left: 1px solid black;
}

#nav #nav-content {
	display: none;
}

#nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#nav li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}

#nav li a:hover {
    background-color: black;
    color: white;
}

#nav .active {
    background-color: black;
    color: white;
}

#content {
    float: left;
    width: calc(100% - 20px);
	padding: 10px 10px 10px 10px;
}

@font-face {
	font-family: stsong;
	src: url(https://nguyenphuphong.github.io/hanyu-jiaocheng-assets/font/stsong.ttf);
}

@font-face {
	font-family: pinyinfont;
	src: url(https://nguyenphuphong.github.io/hanyu-jiaocheng-assets/font/pinyinfont.ttf);
}

body {
	font-family: stsong;
	background-color: #fbfbf8;
    font-size: 20px;
	font-weight: 500;
}

h1, h2, h3, h4, h5, p {
	text-align: justify;
}

audio {
	margin-top: 10px;
}

hr {
	border-top: 1px solid black;
}

.vietnamese {
	font-family: "Times New Roman", Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.chinese {
	font-family: stsong;
}

.title {
    font-size: 40px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.title a {
    text-decoration: none;
    color: black;
}

.row {
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
}

.col-20 {
	float: left;
	margin-right: 20px;
}

.col-30 {
	float: left;
	margin-right: 20px;
}

.col-35 {
	float: left;
	margin-right: 20px;
}

.col-40 {
	float: left;
	margin-right: 20px;
}

.col-50 {
	float: left;
	margin-right: 20px;
}

.col-75 {
	float: left;
	margin-right: 20px;
}

.col-100 {
	float: left;
	margin-right: 20px;
}

.col-150 {
	float: left;
	margin-right: 20px;
}

.col-200 {
	float: left;
	margin-right: 20px;
}

.col-300 {
	float: left;
	margin-right: 20px;
}

.col-350 {
	float: left;
	width: 100%;
}

.col-400 {
	float: left;
	width: 100%;
}

.col-minus-320 {
	float: left;
	width: 100%;
}

.col-minus-420 {
	float: left;
	width: 100%;
}

.width-80 {
	margin-right: 20px;
}

.margin-left-10 {
	margin-left: 10px;
}

.none-display-at-smallscreen {
	display: none;
}